<!DOCTYPE html>
<html lang="en">
    <%- include('../../layout/head') %>
<body>
    
        <%- include('../../layout/header') %>

    <main>
        <h2 id="new-search">Search by Title or Author</h2>
        <form action="/searches" method="post">
            <input id="searchWord" type="text" placeholder="Enter a title or author" name="searchWord" required>
    
            <label class="title" for="title">
               <span>Title</span> 
            <input type="radio" name="search" class="title" value="title" required>
        </label>
    
            <label class="author" for="author">
                <span>Author</span>
            <input type="radio" name="search" class="author" value="author" required>
        </label>
    
            <button>Search book</button>
        </form>
    </main>

        <%- include('../../layout/footer') %>

    <script src="../../../public/js/app.js"></script>
</body>
</html>