<!DOCTYPE html>
<html lang="en">
    
    <%- include('../layout/head') %>

<body>
        <%- include('../layout/header') %>

    <main>
        <h1>Oops an error occurs!!!</h1>
    </main>
   
        <%- include('../layout/footer') %>

    <script src="../../public/js/app.js"></script>
</body>
</html>