<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>book-app</title>
    <link rel="stylesheet" href="/public/styles/base.css">
    <link rel="stylesheet" href="/public/styles/layout.css">
</head>
<body>
    <header>
        <%- include('../layout/header') %>
    </header>
    <main>
        <h1>Welcome to book-app, when you can find any book you want</h1>
    </main>
    <script src="../../public/js/app.js"></script>

    <footer>
        <%- include('../layout/footer') %>
    </footer>
</body>
</html>