    <footer>

    <nav class="footer-nav">
        <a class="footer-item" href="mailto: almohammadmhmood@gmail.com"><img class="footer-image" src="https://cdn-icons-png.flaticon.com/512/666/666162.png" alt="Mail"></a> 
        <a class="footer-item" href="https://twitter.com"><img class="footer-image" src="https://cdn-icons-png.flaticon.com/512/733/733635.png" alt="Twitter"></a>
        <a class="footer-item" href="https://github.com/Mahmoud-Almohammad"><img class="footer-image" src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="Github"></a>
        <a class="footer-item" href="www.linkedin.com/in/mahmoud-almohammad"><img class="footer-image" src="https://cdn-icons-png.flaticon.com/512/1384/1384014.png" alt="LinkedIn"></a>
    </nav>

</footer>
