<header>
<nav class="navbar">

    <a class="logo" href="/">Best Books!</a>

    <ul class="menu">
        <li class="item">
            <a class="nav-link" href="/">Home</a>
        </li>

        <li class="item">
            <a class="nav-link" href="/searches/new"> Search for a book</a>
        </li>
    </ul>

    <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>

</nav>

</header>

